@model IEnumerable<WallboardSpecialties.Models.Admin>

@{
    ViewBag.Title = "Index";
}



<div>
    <br />
    <h4>Manage Projects and Subcontractors</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <button type="button" class="btn btn-lg" onclick="location.href='@Url.Action("Create", "Projects")'" style="background-color: cadetblue">Create a new Project</button>
        </div>
       

        <div class="col-md-6">
            <button type="button" class="btn btn-lg" onclick="location.href='@Url.Action("Create", "Subcontractors")'" style="background-color: cadetblue">Add a new Subcontractor</button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <button type="button" class="btn btn-lg" onclick="location.href='@Url.Action("Index", "Projects")'" style="background-color: cadetblue">Manage Projects</button>
        </div>
       
        <div class="col-md-6">
            <button type="button" class="btn btn-lg" onclick="location.href='@Url.Action("Index", "Subcontractors")'" style="background-color: cadetblue">Manage Subcontractors</button>
        </div>
    </div>

</div>
