@{
    ViewBag.Title = "Home Page";
}

<br />
<br />
<br />

<div class="row">
    <div class="w3-card-4" style="padding: 16px">
        <div class="w3-display-container w3-text-white">
            <img src="~/Content/Images/Stone-Texture-Wallpapers-3.jpg" alt="Lights" style="width:100%">
            <div class="w3-xlarge w3-display-bottomright w3-padding">

                <p>
                    <a class="btn btn-lg btn-success" href="@Url.Action("pausepage", "Employee")">
                        Employee Sign-In &raquo;
                    </a>
                </p>

            </div>
        </div>
    </div>
    <!--These Breaks lower the card -->
    <br />
    <br />
    <br />

</div>